body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:80%; }
#filtres {
    position:absolute; left: 80%; width:20%;height: 35%;
}
#camions {
    position:absolute; left: 80%; top:35%;
}