body { margin:0; padding:0; }
#map { position:absolute;  top:0; bottom:0; width: 60%;}
#filtres {
    /*position:relative; left: 80%; width:20%;height: 35%;*/
    width:20%;height: 35%;
    float : right;
}
#filtre2 {
    position:relative;  float: right;  width:20%;height: 35%;
}